node_modules/
src/basics/node_modules/
src/components/node_modules/
src/components/dist/
src/advanced-components/dist/
src/advanced-components/node_modules/
src/quotes-project/dist/
src/quotes-project/node_modules/
src/user-input-with-forms/dist/
src/user-input-with-forms/node_modules/
src/routing/dist/
src/routing/node_modules/
src/state-management/dist/
src/state-management/node_modules/